.toolpad-demo-app-dkh5k5-MuiPaper-root {
    box-shadow: none !important;
    padding: 10px 14px;
}

.toolpad-demo-app-1j615le-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 10px 14px !important;
    margin: 2px !important;
}

.toolpad-demo-app-u8tfsr{
    margin-top: 33px;
    max-width: 66%;
}

.toolpad-demo-app-12nqmzl {
    padding: 0 20px;
}

.toolpad-demo-app-kbp9eo-MuiFormLabel-root-MuiInputLabel-root{
    line-height: 1em !important;
}

.toolpad-demo-app-cc5vd3-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
     padding: 10px 14px !important;
    margin: 2px !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation3.toolpad-demo-app-tawss {
    box-shadow: none;
}