.MuiDrawer-paper {
    position: absolute;
    width: 270px !important;
    box-sizing: border-box;
    background-image: none;
    -webkit-transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    overflow-x: hidden;
}

.toolpad-demo-app-bmrxdq-MuiDrawer-docked .MuiDrawer-paper{
    width: 84px !important;
}

.MuiListItemIcon-root.toolpad-demo-app-12zuami-MuiListItemIcon-root {
    font-size: 18px;
}


.toolpad-demo-app-4uxqju-MuiSvgIcon-root {
    font-size: 30px !important;
}

.toolpad-demo-app-9z93tp{
    height: 45px !important;
}

.toolpad-demo-app-m69qwo-MuiStack-root{
    gap: 14px;
}

.MuiDrawer-root.MuiDrawer-anchorLeft.MuiDrawer-docked.toolpad-demo-app-1y8nxit-MuiDrawer-docked {
      width: 270px !important;
}

.toolpad-demo-app-oc2eyy-MuiPaper-root-MuiDrawer-paper{
 border: none !important;
}

.toolpad-demo-app-23htwk{
    background-color: #F1F8FF !important;
}

.toolpad-demo-app-1y8nxit-MuiDrawer-docked .MuiDrawer-paper{
       width: 270px !important;
}
.toolpad-demo-app-9vjljl-MuiDrawer-docked .MuiDrawer-paper {
    width: 84px !important;
}

.toolpad-demo-app-9vjljl-MuiDrawer-docked{
    width: 270px;
}

button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.toolpad-demo-app-1sv69n2-MuiButtonBase-root-MuiIconButton-root {
    right: 60px;
}

.MuiBox-root.toolpad-demo-app-0 {
    background-color: rgba(0, 187, 255, 0.064);
    padding: 8px 0;
    border-radius: 4px;
}

.toolpad-demo-app-rizt0-MuiTypography-root{
    font-size: 15px;
}

.Admin-containerLayout {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
}

/* .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.toolpad-demo-app-oc2eyy-MuiPaper-root-MuiDrawer-paper {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
} */



nav{
   overflow-y: auto !important;
     overflow-x: hidden !important;
}

nav::-webkit-scrollbar {
  width: 6px; /* Chiều rộng thanh trượt dọc */
}

nav::-webkit-scrollbar-track {
  background: transparent; /* Nền thanh trượt */
}

nav::-webkit-scrollbar-thumb {
  background-color: rgba(33, 150, 243, 0.3); /* Xanh nước biển nhạt, mờ */
  border-radius: 4px; /* Bo tròn */
}

nav::-webkit-scrollbar-thumb:hover {
  background-color: rgba(33, 150, 243, 0.5); /* Đậm hơn khi hover */
}


html[data-toolpad-color-scheme="dark"] .toolpad-demo-app-23htwk {
  background-color: #1e1e1e !important;
}

html[data-toolpad-color-scheme="dark"] .MuiBox-root.toolpad-demo-app-0 {
  background-color: rgba(255, 255, 255, 0.06);
}

html[data-toolpad-color-scheme="dark"] .AdminContent-Container {
  background-color: #1e1e1e;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 6px,
              rgba(255, 255, 255, 0.1) 0px 1px 2px inset;
}
