.form__container {
  background: #eef7fe;
  padding: 20px 0;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 100%;
  margin: auto;
}

form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.form__group {
  flex: 1;
  
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.address__group {
  flex: 2.05;
}

label {
  margin-bottom: 5px;
  color: #000000;
}

span.text__red{
  color: red;
}

input,
textarea {
  background-color: #ffffff;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.gender {
  display: flex;
  gap: 20px;
  margin-top: 6px;
}

.gender__input {
  accent-color: #030303;
  transform: scale(1.2);
}

.Form_button{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 20px;
}

.Form_button button{
  padding: 7px 20px;
  border-radius: 4px;
  background-color: #3497f9;
  font-size: 14px;
  color: white;
}