@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
}

.input-error {
  border: 1px solid #DC2626 !important; /* Đỏ để báo lỗi */
  background-color: #FEF2F2 !important;
}

.error-text {
  color: #DC2626 !important;
  font-size: 0.875rem;
  margin-top: 4px;
}

.containerClient{
  display: flex;
  width: 100%;
}

.containerClient__content{
  padding-left: 250px;
  width: 100%;
  background-color: #f1f8ff;
  min-height: 100vh;
  padding-right: 40px;

}

.nodata{
  color: #ef4444 !important; /* màu tương đương với Tailwind text-red-500 */
}

.containerClient__item{
  width: 100%;
  padding-right: 20px;
}

.tatusTable {
    border-radius: 100px;
    align-items: center;
    gap: 5px;
    width: fit-content;
    padding: 2px 10px;
    font-size: 14px;
    display: flex;
    white-space: nowrap;
}

.tatusTable.green {
    color: green;
    background-color: #d6fdd6;
}

.tatusTable.red {
    color: red;
    background-color: #fdd6d6;
}

.tatusTable.yellow {
    color: #c2c200;
    background-color: #edffb2;
}

.tatusTable.blue {
    color: #00a2ff;
    background-color: #b2f1ff;
}

.dotTableStatus{
    animation: fadeAndScale 1s ease-in-out infinite alternate;
}

@keyframes fadeAndScale {
  0% {
    opacity: 1;
    transform: scale(0.8);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

@keyframes pulseRing {
  0% {
    transform: scale(0.5);
    opacity: 0.6;
  }
  80% {
    transform: scale(2.4);
    opacity: 0;
  }
  100% {
    transform: scale(2.4);
    opacity: 0;
  }
}

.disabled{
  background-color: gray !important;
  color: white !important;
  cursor: not-allowed !important;
  opacity: 0.5 !important;
}

.button--blue {
  background-color: #3497f9;
  color: white;
  padding: 4px 13px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  white-space: nowrap;
}
.button--blue:hover {
  background-color: #1f78d1; 
}

/* Loại chữ xanh không background */
.button--blueType2 {
  background-color: #ffffff;
  color: #65b2ff;
  padding: 4px 13px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  white-space: nowrap;
}
.button--blueType2:hover {
  background-color: #ffffff; 
  color: #1489ff;
}

/* nút nhỏ màu xanh */
.button--green {
  background-color: #00d335;
  color: white;
  padding: 4px 13px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  white-space: nowrap;
}
.button--green:hover {
  background-color: #00a62a; /* màu hover đậm hơn */
}

/* View Detail Button */
.button--viewDetail {
  background-color: #b1e2ff;
  color: #00a2ff !important;
  padding: 4px 13px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  white-space: nowrap;
}
.button--viewDetail:hover {
  background-color: #a1d8f7;
  color: #007ccc !important;
}

/* View Detail Button */
.bigButton--add {
  border: 1px solid #00a2ff;
  color: #00a2ff !important;
  padding: 8px 30px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  white-space: nowrap;
}
.bigButton--add:hover {
  background-color: #a1d8f7;
}

/* nút nhỏ màu đỏ */
.button--red {
  background-color: rgb(255, 64, 64);
  color: white;
  padding: 4px 13px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  white-space: nowrap;
}
.button--red:hover {
  background-color: rgb(176, 0, 0);
}

/* nut xanh to */
.bigButton--blue{
  background-color: rgb(52, 151, 249);
  color: white;
  padding: 8px 30px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  white-space: nowrap;
}
.bigButton--blue:hover {
  background-color: rgb(32, 131, 229); /* màu hover đậm hơn */
}

/* nut xanh lá to */
.bigButton--green{
  background-color: #00d335 !important;
  color: white !important;
  padding: 8px 30px !important;
  border-radius: 8px !important;
  display: flex !important;
  gap: 10px !important;
  align-items: center !important;
  cursor: pointer  !important;
  transition: background-color 0.2s ease, color 0.2s ease !important;
  white-space: nowrap !important;
}
.bigButton--green:hover {
  background-color: rgb(15, 154, 0); /* màu hover đậm hơn */
}

/* nut đỏ to */
.bigButton--red{
  background-color: #ff4040;
  color: white;
  padding: 8px 30px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  white-space: nowrap;
}
.bigButton--red:hover {
  background-color: rgb(205, 0, 0); /* màu hover đậm hơn */
}

/* nut đỏ to */
.bigButton--redType2{
  background-color: #ffffff;
  border: 1px solid #ff4040;
  color: #ff4040;
  padding: 8px 30px;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  white-space: nowrap;
}
.bigButton--redType2:hover {
  background-color: rgb(255, 0, 0); /* màu hover đậm hơn */
  color: white;
}

/* nut xám to */
.bigButton--gray{
  background-color: gray;
  border: 1px solid gray;
  color: rgb(255, 255, 255);
  padding: 8px 30px;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  white-space: nowrap;
}
.bigButton--gray:hover {
  background-color:rgb(96, 95, 95); /* màu hover đậm hơn */
  color: white;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}