
.pagination {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
  padding-top: 25px;
}

.page-button,
.nav-button {
  padding: 8px 14px;
  border: none;
  border-radius: 12px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.page-button.active {
  background-color: #349eff;
  color: white;
  font-weight: bold;
}

.nav-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

